@charset "UTF-8";
@media (min-width: 768px) {
  #bg1 {
    padding: 0;
    text-align: center; }
    #bg1 .container {
      width: 100%; }
    #bg1 .mengban {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4); }
    #bg1 #bg1_main {
      height: 474px;
      background-image: url(../images/picture/product_banner.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 0; }
      #bg1 #bg1_main h2 {
        padding-top: 200px;
        margin-bottom: 16px;
        color: #fff;
        font-size: 62px;
        font-weight: 600;
        font-family: MaiandraBlackItalicGD; }
      #bg1 #bg1_main p {
        font-family: Adobe Garamond Pro;
        color: #dedfda;
        font-size: 36px; }

  #route {
    height: 74px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1eb; }
    #route #Route_main {
      height: 74px;
      overflow: hidden; }
    #route ol {
      background-color: #fff;
      line-height: 57px;
      float: right; }
      #route ol li a {
        color: #87a834; }

  #products {
    padding: 20px 0; }
    #products .lists {
      padding: 0; }
    #products #lists {
      padding: 50px 0; }
      #products #lists .active a {
        font-family: Arial;
        color: #87a834; }
      #products #lists li {
        float: left;
        font-size: 1.5rem;
        padding: 0 14px; }
      #products #lists li:hover a {
        color: #87a834; }
    #products #list_main {
      padding: 0; }
    #products #loadmore {
      padding: 1%;
      margin-top: 1%;
      border: 0.2rem solid #f60;
      border-radius: 0.6rem;
      text-align: center;
      font-size: 14px; }
      #products #loadmore a {
        width: 100%;
        height: 100%;
        display: block; }
    #products .pro_item {
      height: 276px;
      padding: 0; }
      #products .pro_item .pro_item_bg {
        height: 94%;
        width: 94%;
        /* background-size: 100% 100%; */
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center 72%; }
      #products .pro_item .gallery__item__description {
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        font-family: Helvetica-Conth;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        /* display: flex; */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        #products .pro_item .gallery__item__description span {
          font-size: 36px;
          opacity: 0;
          filter: alpha(opacity=0); }
      #products .pro_item .gallery__item__description:hover {
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out; }
        #products .pro_item .gallery__item__description:hover span {
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out; }
      #products .pro_item img {
        width: 100%;
        height: 100%; } }
@media (max-width: 768px) {
  #bg1 {
    padding: 0;
    padding-top: 64px;
    text-align: center;
    height: 463px;
    height: 100vh; }
    #bg1 .container {
      width: 100%; }
    #bg1 .mengban {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4); }
    #bg1 #bg1_main {
      height: 463px;
      height: 90vh;
      background-image: url(../images/picture/product_banner.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      padding: 0; }
      #bg1 #bg1_main h2 {
        padding-top: 60%;
        margin-bottom: 16px/2;
        color: #fff;
        font-size: 48px/2;
        font-weight: 600;
        font-family: MaiandraBlackItalicGD; }
      #bg1 #bg1_main p {
        color: #dedfda;
        font-size: 48px/2;
        font-family: Adobe Garamond Pro; }

  #news {
    padding-top: 40px;
    padding-bottom: 40px;
    /*瀑布流层*/
    /*一个内容层*/ }
    #news .waterfall {
      -moz-column-count: 1;
      /* Firefox */
      -webkit-column-count: 1;
      /* Safari 和 Chrome */
      column-count: 1;
      -moz-column-gap: 1em;
      -webkit-column-gap: 1em;
      column-gap: 1em; }
    #news .item {
      padding-bottom: 0em;
      margin: 0 0 1em 0;
      -moz-page-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      break-inside: avoid; }
    #news .item img {
      width: 100%;
      margin-bottom: 10px; }
    #news .item .blog__post-date {
      line-height: 1.1;
      font-size: 2rem;
      font-weight: 700;
      font-family: 微软雅黑;
      color: #87a834;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: default;
      display: inline-block; }
      #news .item .blog__post-date span:first-child {
        line-height: 1;
        font-size: 6rem;
        float: left; }
      #news .item .blog__post-date span:last-child {
        float: left;
        margin-top: 1rem;
        line-height: 20px; }
    #news .blog__entry__title {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 10px; }
    #news .blog__entry p {
      color: #909090;
      font-size: 16px;
      height: 136px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative; }
    #news #loadmore {
      padding: 2% 5%;
      border: 0.28rem solid #f60;
      border-radius: 1rem;
      text-align: center;
      font-family: Arial;
      font-size: 16px; }
      #news #loadmore a {
        width: 100%;
        height: 100%;
        display: block; }

  #route {
    height: 72px;
    margin-top: 4px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1eb; }
    #route #Route_main {
      height: 70px;
      overflow: hidden; }
    #route ol {
      background-color: #fff;
      line-height: 57px; }
      #route ol li a {
        color: #87a834; }

  #products {
    padding: 0px 0; }
    #products .container {
      padding: 0; }
    #products .lists {
      padding: 0; }
    #products #lists {
      padding: 20px 0; }
      #products #lists .active a {
        color: #87a834; }
      #products #lists li {
        width: 30%;
        font-family: Arial;
        float: left;
        font-size: 1rem;
        padding: 10px 10px;
        text-align: center; }
      #products #lists li:hover a {
        color: #87a834; }
    #products #list_main {
      padding: 0; }
    #products #loadmore {
      padding: 1%;
      margin-top: 1%;
      margin-bottom: 4%;
      border: 0.28rem solid #f60;
      border-radius: 1rem;
      text-align: center;
      font-family: Arial;
      font-size: 16px; }
    #products .pro_item {
      height: 276px;
      padding: 0; }
      #products .pro_item .pro_item_bg {
        height: 94%;
        width: 90%;
        /* background-size: 100% 100%; */
        margin: 0 auto;
        background-position: center 80%; }
      #products .pro_item .gallery__item__description {
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        font-family: Helvetica-Conth;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        /* display: flex; */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        #products .pro_item .gallery__item__description span {
          font-size: 36px;
          opacity: 0;
          filter: alpha(opacity=0); }
      #products .pro_item .gallery__item__description:hover {
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out; }
        #products .pro_item .gallery__item__description:hover span {
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out; }
      #products .pro_item img {
        width: 100%;
        height: 100%; }

  #products #lists li {
    height: 60px;
    width: 33% !important; } }
@media (min-width: 768px) and (max-width: 1052px) {
  #header_main {
    width: 98% !important;
    margin-left: 2%; }

  #header_main #nav_list {
    width: 90%;
    padding: 0;
    padding-left: 0%; }

  #header_main #nav_list > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px; }

  #language > a {
    width: 76px;
    padding: 13px !important;
    margin-top: 22%;
    border: 2px solid #f60;
    border-radius: 10px;
    text-align: center;
    color: #fff; }

  #nav {
    width: 100%;
    float: left;
    margin: 0;
    margin-bottom: -100px;
    z-index: 9999;
    border-bottom: 1px solid #ffffff26; } }

/*# sourceMappingURL=product.css.map */
